<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/base.css?v=1.5">
    <script type="text/javascript" src="js/config.js?v=1.4"></script>

    <style>
        /* button {
            width: 2rem;
            height: 0.8rem;
            text-align: center;
            line-height: .8rem;
            border: 1px solid #999;
        } */
    </style>


</head>

<body>
    <button class="btn">点击请求</button>
    <div id="footer">
        <button>
            <i>+</i>
            全案送达信息查询
        </button>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="js/juicer.min.js"></script> -->
    <script>
        var isJump = false;
        var btnState;
        var statusBool = '1' //起名随意

        $(function() {
            statusFn()
                // 发送请求 并且返回数据了
            function statusFn() {
                // http....then(data)
                // statusBool = data.status;
                statusBool = 3;
                btnFn()
            }
            // 第一个地方赋值
            function btnFn() {
                let btnHtml = '';
                //样式完了自己写嗷
                if (statusBool == 1) {
                    btnHtml += `<button id="footer_button"><i>+</i>全案送达信息查询</button>`
                } else if (statusBool == 2) {
                    btnHtml += `<button id="footer_button" style="color:gray"><i>+</i>全案送达信息查询(查询中)</button>`
                } else {
                    btnHtml += `<button id="footer_button"><i>+</i>全案送达信息查询<span style="color:red">(已完成出，点击查看)</span></button>`
                }
                $('#footer').html(btnHtml)
                $('#footer_button').on('click', function() {
                    if (statusBool == 1) {
                        console.log(1)
                            // window.open(1)//跳转对应页面即可
                    } else if (statusBool == 2) {
                        console.log(2)
                            // window.open(2)
                    } else {
                        console.log(3)
                            // window.open(3)
                    }
                })

            }

            btnState = sessionStorage.getItem('btnState');
            // 
            if (btnState != 'pending' || btnState != 'finish') {
                $('.btn').html('点击请求')
            } else if (btnState == 'pending') {
                $('.btn').html('查询中，请稍后')

            } else if (btnState == 'finish') {
                $('.btn').html('查看')

            }


        })
        $('.btn').click(function() {



            window.location.href = "dsrList.html";





        });
    </script>
</body>

</html>