.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-30 {
    font-size: 30px;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.mg-tp-0 {
    margin-top: 0px;
}

.mg-tp-4 {
    margin-top: 3px;
}

.mg-tp-5 {
    margin-top: 5px;
}

.mg-tp-10 {
    margin-top: 10px;
}

.mg-tp-15 {
    margin-top: 15px;
}

.mg-tp-20 {
    margin-top: 20px;
}

.mg-tp-25 {
    margin-top: 25px;
}

.mg-tp-30 {
    margin-top: 30px;
}

.mg-tp-40 {
    margin-top: 40px;
}

.mg-tp-50 {
    margin-top: 50px;
}

.mg-tp-55 {
    margin-top: 55px;
}

.mg-tp-75 {
    margin-top: 75px;
}

.mg-tp-100 {
    margin-top: 100px;
}

.mg-bt-0 {
    margin-bottom: 0px;
}

.mg-bt-5 {
    margin-bottom: 5px;
}

.mg-bt-10 {
    margin-bottom: 10px;
}

.mg-bt-15 {
    margin-bottom: 15px;
}

.mg-bt-20 {
    margin-bottom: 20px;
}

.mg-bt-25 {
    margin-bottom: 25px;
}

.mg-bt-30 {
    margin-bottom: 30px;
}

.mg-bt-40 {
    margin-bottom: 40px;
}

.mg-bt-50 {
    margin-bottom: 50px;
}

.mg-bt-70 {
    margin-bottom: 70px;
}

.mg-bt-100 {
    margin-bottom: 100px;
}

.mg-rg-0 {
    margin-right: 0px;
}

.mg-rg-5 {
    margin-right: 5px;
}

.mg-rg-10 {
    margin-right: 10px;
}

.mg-rg-15 {
    margin-right: 15px;
}

.mg-rg-20 {
    margin-right: 20px;
}

.mg-rg-25 {
    margin-right: 25px;
}

.mg-rg-30 {
    margin-right: 30px;
}

.mg-rg-40 {
    margin-right: 40px;
}

.mg-rg-50 {
    margin-right: 50px;
}

.mg-rg-100 {
    margin-right: 100px;
}

.mg-lt-0 {
    margin-left: 0px;
}

.mg-lt-5 {
    margin-left: 5px;
}

.mg-lt-10 {
    margin-left: 10px;
}

.mg-lt-15 {
    margin-left: 15px;
}

.mg-lt-20 {
    margin-left: 20px;
}

.mg-lt-25 {
    margin-left: 25px;
}

.mg-lt-30 {
    margin-left: 30px;
}

.mg-lt-40 {
    margin-left: 40px;
}

.mg-lt-50 {
    margin-left: 50px;
}

.mg-lt-100 {
    margin-left: 100px;
}

.pd-tp-0 {
    padding-top: 0px;
}

.pd-tp-5 {
    padding-top: 5px;
}

.pd-tp-10 {
    padding-top: 10px;
}

.pd-tp-15 {
    padding-top: 15px;
}

.pd-tp-20 {
    padding-top: 20px;
}

.pd-tp-25 {
    padding-top: 25px;
}

.pd-tp-30 {
    padding-top: 30px;
}

.pd-tp-40 {
    padding-top: 40px;
}

.pd-tp-50 {
    padding-top: 50px;
}

.pd-tp-100 {
    padding-top: 100px;
}

.pd-bt-0 {
    padding-bottom: 0px;
}

.pd-bt-5 {
    padding-bottom: 5px;
}

.pd-bt-10 {
    padding-bottom: 10px;
}

.pd-bt-15 {
    padding-bottom: 15px;
}

.pd-bt-20 {
    padding-bottom: 20px;
}

.pd-bt-25 {
    padding-bottom: 25px;
}

.pd-bt-30 {
    padding-bottom: 30px;
}

.pd-bt-40 {
    padding-bottom: 40px;
}

.pd-bt-50 {
    padding-bottom: 50px;
}

.pd-bt-100 {
    padding-bottom: 100px;
}

.pd-rg-0 {
    padding-right: 0px;
}

.pd-rg-5 {
    padding-right: 5px;
}

.pd-rg-10 {
    padding-right: 10px;
}

.pd-rg-15 {
    padding-right: 15px;
}

.pd-rg-20 {
    padding-right: 20px;
}

.pd-rg-25 {
    padding-right: 25px;
}

.pd-rg-30 {
    padding-right: 30px;
}

.pd-rg-40 {
    padding-right: 40px;
}

.pd-rg-50 {
    padding-right: 50px;
}

.pd-rg-100 {
    padding-right: 100px;
}

.pd-rg-120 {
    padding-right: 120px;
}

.pd-lt-0 {
    padding-left: 0px;
}

.pd-lt-5 {
    padding-left: 5px;
}

.pd-lt-10 {
    padding-left: 10px;
}

.pd-lt-15 {
    padding-left: 15px;
}

.pd-lt-20 {
    padding-left: 20px;
}

.pd-lt-25 {
    padding-left: 25px;
}

.pd-lt-30 {
    padding-left: 30px;
}

.pd-lt-40 {
    padding-left: 40px;
}

.pd-lt-50 {
    padding-left: 50px;
}

.pd-lt-100 {
    padding-left: 100px;
}

.dis-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}
.justify-content-end {
   justify-content: end;
}

.justify-content-center {
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.mg-auto {
    margin: 0 auto;
}

.color62657A {
    color: #62657A;
}

//设置所有弹框按钮外侧的大小和按钮的大小
.border-radius-10 {
    border-radius: 10px;
}

.border-radius-18 {
    border-radius: 18px;
}

.button-wrap {
    width: 270px;
}

.button-size {
    border-radius: 20px;
    width: 117px;
    height: 35px;
}

// .big_wrap {
//     min-width: 1170px;
// }

button {
    text-align: center;
}

.text-ag-rg {
    text-align: right;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-radius: 10px;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FCC6C6;
}

.background_linear {
    background: linear-gradient(to right, #f4c8c7 0%, #0c61BB 45%, #0c61BB 55%, #FCC6C6 100%) !important;
}

.tip_titlie {
    font-size: 0.12rem;
    color: #62657A;
    margin-top: 24px;
    font-weight: 700;
}