* {
    box-sizing: border-box;
}

html {
    color: #000;
    background: #fff;
    height: 100%;
}

body {
    height: 100%;
    font-size: 14px;
    background-color: #FBFBFB;
    font-family: Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
button {
    border: 0;
}

input {
    background: none;
}

button,
input,
textarea,
select {
    outline: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
}

legend {
    color: #333
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0px;
}

img {
    vertical-align: top;
}
.foot_btn {
    margin: 20px auto 66px;
    width: 89 * 2px;
    background: #ffe100;
    padding: 14px 20px;
    border-radius: 26px;
    text-align: center;
    &:hover{
        cursor: pointer;
        color: #fff !important;
        background: #000 !important;
    }
}
p {
    line-height: 1.5;
}